In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Extraccion de la fuente de la pagina web

Obtenemos respuesta de la web y extraemos el codigo fuente de la misma

In [2]:
page = requests.get('http://books.toscrape.com/')
soup = BeautifulSoup(page.text, 'html.parser')

Seleccionamos lo que sacaqueremos en la pagina web y hacemos una lista general de lo que se sacara

In [3]:
info_book = soup.find_all('article', {'class':'product_pod'})

Buscamos con las etiquetas de html la informacion y extraemos solo el texto de la informacion, para guardarla en una lista aparte

In [4]:
titulo = []
precio = []
stock = []
ratings = []

for item in info_book:
    titulo.append(item.h3.a['title'])
    
    aux = item.find('p', {'class': 'price_color'})
    precio.append(aux.text)
    
    aux = item.find('p', {'class': 'instock availability'})
    stock.append(aux.text)
    
    aux = item.find('p', {'class': 'star-rating'})
    ratings.append(aux['class'][1])

Por ultimo guardamos la informacion en un DataFrame

In [5]:
diccionario = {'title':titulo,
               'price':precio,
               'rating':ratings,
               'in_stock':stock}
df = pd.DataFrame(diccionario)

In [7]:
df.head()

,title,price,rating,in_stock
0,A Light in the Attic,Â£51.77,Three,\n\n \n In stock\n \n
1,Tipping the Velvet,Â£53.74,One,\n\n \n In stock\n \n
2,Soumission,Â£50.10,One,\n\n \n In stock\n \n
3,Sharp Objects,Â£47.82,Four,\n\n \n In stock\n \n
4,Sapiens: A Brief History of Humankind,Â£54.23,Five,\n\n \n In stock\n \n